input{
    text-align: center;
   border: 1px solid grey;
    margin: 0 100px;
}
ul{
    border: 1px solid grey;
    margin: 0 100px;
}
h1 {text-align: center;}

ul li {

    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
}